:root {
  --background: #052c39;
  --darker: #0D3C4A;
  --lighter: #135264;
  --text: #ECECEC;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid var(--background);
  padding: 3px 10px;
}

button:active {
  background-color: rgb(185, 185, 185);
}

.page {
  flex: 1;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 15px 0;
}

.nav > * {
  color: #fff;
}

.nav button {
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.App {
  color: var(--text);
  height: 80%;
  width: 85%;
  border-radius: 10px;
  background-color: var(--darker);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.monthContainer {
  display: flex;
  height: 100%;
}

.costs {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 40%;
  padding: 10px;
  height: 100%;
}

.costInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--lighter);
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.costInput h3 {
  margin: 5px 0;
}

.costForm, .costList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  width: 90%;
}

.costList {
  overflow-y: scroll;
  margin-bottom: 10px;
}

.costList::-webkit-scrollbar {
  width: 12px;
}

.costForm > * {
  margin-top: 15px;
}

.costFormItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.costInput input:focus {
  border: 1px solid var(--darker);
  outline: none;
}

.costItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.listHeading {
  font-weight: 800;
  font-size: 18px;
}

.costItem > * {
  padding: 0 5px;
  flex-basis: 20%;
}

.costItem p {
  margin: 5px 0;
}

.dollarSign {
  color: #fff;
  margin-right: 3px;
}

#description, #amount {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
}

#category {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #fff;
}

#category:focus {
  outline: none;
}

#description, #category {
  width: 55%;
}

#amount {
  width: 40%;
  text-align: right;
}

/* LOGIN STYLES */
.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.loginFormItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttonLogin {
  display: flex;
  width: 100%;
  justify-content: center;
}
